<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{'HELLO_WORLD' | translate}}</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <button class="col-md-1" ng-click="changeLanguage('en_US')">EN</button>
        <button class="col-md-1" ng-click="changeLanguage('nl_NL')">NL</button>
    </div>
    <div class="row">
        <div id="game"></div>
    </div>
</div>